:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-moss-green: #606c38ff;
  --pakistan-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--cornsilk);
  color: var(--pakistan-green);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* disable scrolling in the horizontal direction */
}

header {
  background: var(--dark-moss-green);
  color: var(--cornsilk);
  padding: 1rem;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.main-nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.main-nav a {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--cornsilk);
  text-decoration: inherit;
  transition: color 0.2s;
}
.main-nav a:hover {
  /* background: var(--earth-yellow); */
  color: var(--pakistan-green)
}
.main-nav .divider {
  font-size: 1.5em;
  color: var(--pakistan-green);
}

footer {
  display: flex;
  margin-top: auto;
  background: var(--pakistan-green);
  color: var(--cornsilk);
  justify-content: center;
  width: 100%;
}

footer p {
  padding: 1rem;
}

.logo {
  padding: 1rem;
  max-height: 50px; /* prevent the logo from being massive, but can get smaller if need be */
  width: auto;
}

.page-content {
  display: flex;
  width: 100%;
  max-width: 2000px;
  /* margin: 0 auto; */
  padding: 0 2rem;
  box-sizing: border-box;
}

.sidebar {
  width: 400px;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar-heading {
  background: var(--dark-moss-green);
  color: var(--cornsilk);
  padding: 0.5rem 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 0;
  display: block; /* inline-block to get it to hug the heading text instead */
}

.sidebar-content {
  background: #f9f9f9;
  margin: 0;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  list-style-type: none;
}
.sidebar-content a {
  color: #1a1a1a;
  text-decoration: inherit;
  transition: color 0.2s;
}
.sidebar-content a:hover {
  /* background: var(--earth-yellow); */
  color: var(--earth-yellow)
}

.playgrounds-main {
  flex: 1; /* grow to fill space */
  min-width: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.info-heading {
  background: var(--earth-yellow);
  color: var(--cornsilk);
  padding: 0.5rem 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block; /* change to inline-block to get it to hug the heading text instead */
  margin-top: 1rem;
  margin-bottom: 0;
}

.description {
  padding: 0.5rem;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  padding-bottom: 1rem;
  
}

.carousel-slide {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.carousel-slide img {
  position: absolute;
  width: 100%;
  height: 100%; /* changing this to auto causes slides to move upon resizing */
  object-fit: contain; /* use cover instead to always fill the viewport */
  background-color: var(--cornsilk); /* blends in with the background of the site currently */
  display: block;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thumbnails button {
  border: none;
  background: none; 
  padding: 0;
  cursor: pointer;
}

.thumbnails img {
  width: 80px;
  height: 45px;
  object-fit: cover;
  border: 4px solid transparent;
}

.thumbnails button:focus {
  outline: none; /* gets rid of the focus outline on buttons after clicking*/
  /* Could be an accessibility issue for keyboard users.  */
}

.thumbnails button.active img {
  border-color: var(--dark-moss-green);
}

.playground-map {
  margin-top: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
